{% extends 'base_error.html' %}
{% load html %}
{% load fec %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Page Not Found" as tmsg %} {{ tmsg | force_escape }} | {% firstof site.name platform_name %}{% endblock title %}

{% block stylesheets %}
<link href="{{ 'stylesheets/pagenotfound.min.css'|fec_url }}" rel="stylesheet">
{% endblock %}

{% block wrapper_content %}
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
{% endblock %}

{% block javascript %}
<script src="{{ 'javascripts/pagenotfound.min.js'|fec_url }}"></script>
{% endblock %}