{% load hijack_tags %}
{% load render_bundle from webpack_loader %}

{% block javascript %}
	{% render_bundle 'masquerading' 'js' %}
    {% if request|is_hijacked or user.is_staff %}
        {% block masquerade_banner_factory %}
        <script type="text/javascript">
					MasqueradeBannerFactory('masquerade', {
            masquerading: {{request|is_hijacked|yesno:'true, false'}},
            user: '{{user}}',
					});
        </script>
        {% endblock %}
    {% endif %}
{% endblock %}

<link rel="stylesheet" href="/static/fec/plugins/bootstrap-multiselect.min.css" type="text/css" media="all" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin></script>
<script type="text/javascript" src="/static/fec/plugins/bootstrap-multiselect.min.js"></script>

<script>
  $(document).ready(function() {
    window.CustomizeFunctionsHook.dropdown();
  });
</script>
