{# Base error template for edX-specific pages. #}

{% load html %}
{% load fec %}
{% load i18n %}
{% load statici18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% with render_language|default:"en" as page_language %}
{% language page_language %}
<html lang="{{page_language}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  {% block stylesheets %}
  {% endblock %}

  <script type="application/json" id="edt-page-metadata">
    {{ enhenced_theme|escape_json }}
  </script>
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>

  <script type="application/javascript">
      window.edx = {};
  </script>

{% include '_analytics.html' %}

{% block javascript %}{% endblock %}

</body>
</html>
{% endlanguage %}
{% endwith %}
