{% extends 'base.html' %}
{% load django_markup %}
{% load html %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {% trans "{program_name} Record" as tmsg %}
  {% interpolate_html tmsg program_name=program_name as tmsg %}
  {{ tmsg | force_escape }}
{% endblock title %}

{% block header %}
  {% include child_templates.header %}
{% endblock %}

{% block wrapper_content %}
  <link href="/static/fec/credentialsprogramrecord.css" rel="stylesheet">
  <div id="masquerade-wrapper">
    <div class="edt-container container">
      <div id="masquerade">
          {% include child_templates.masquerade %}
      </div>
    </div>
  </div>
  <div class="credentials-content" id="edt-program-record"></div>

  {% block javascript %}
    {% render_bundle 'programs' 'js' %}
      {% if icons_template %}
        {% include icons_template %}
      {% else %}
        {% block program_record_factory %}
          <script type="application/json" id="edt-program-record-metadata">
            {
              "record": "{{record|escapejs}}",
              "isPublic": {{ is_public|yesno:"true,false"}},
              "uuid": "{{uuid}}",
              "helpUrl": "{{records_help_url}}"
            }
          </script>
      {% endblock %}
      {% endif %}
  {% endblock %}
  <script src="/static/fec/credentialsprogramrecord.min.js"></script>
  <link href="/static/fec/edutechfooter.css" rel="stylesheet">
  <div id="edt-footer"></div>
  <script src="/static/fec/edutechfooter.min.js"></script>
  <!-- <div id="program-record-footer">
    {% include child_templates.footer %}
  </div> -->
{% endblock %}