{% extends 'base.html' %}
{% load html %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {{ title | force_escape }}
{% endblock title %}

{% block header %}
  {% include child_templates.header %}
{% endblock %}

{% block wrapper_content %}
  <link href="/static/fec/credentialslearnerrecord.css" rel="stylesheet">
  <div id="masquerade-wrapper">
    <div class="edt-container container">
      <div id="masquerade">
        {% if child_templates.masquerade %}
          {% include child_templates.masquerade %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="credentials-content" id="edt-learner-record"></div>

  {% block javascript %}
  {% render_bundle 'records' 'js' %}
    {% if icons_template %}
        {% include icons_template %}
    {% else %}
      {% block records_factory %}
        <script type="application/json">
        {
          "title": "{{title}}",
          "programs": "{{programs|escapejs}}",
          "programHelp": "{{program_help}}",
          "helpUrl": "{{records_help_url}}",
          "profileUrl": "{{profile_url}}"
        }
        </script>
      {% endblock %}
    {% endif %}
  {% endblock %}
  <script src="/static/fec/credentialslearnerrecord.min.js"></script>
  <link href="/static/fec/edutechfooter.css" rel="stylesheet">
  <div id="edt-footer"></div>
  <script src="/static/fec/edutechfooter.min.js"></script>
  <!-- <div id="records"></div>
  <div id="records-footer">
    {% include child_templates.footer %}
  </div> -->
{% endblock %}

