{% extends 'credentials/programs/base.html' %}
{% load i18n_assets %}
{% load i18n %}
{% load staticfiles %}
{% load fec %}

{% block accomplishment_summary %}
  {% trans "successfully completed all courses and received passing grades for a Micro Masters Certificate in" as tmsg %} {{ tmsg | force_escape }}
{% endblock %}

{% block accomplishment_stamp_title %}
  {% trans "Micro Masters Certificate" as tmsg %}{{ tmsg | force_escape }}
{% endblock %}

{% block background_watermark %}
  {% include 'openedx/images/example-watermark-master.svg' %}
{% endblock %}

{% block background_logo %}
    <span>Micro Masters</span>
    {% include 'openedx/images/example-logo.svg' %}
{% endblock %}

{% block platform_logo %}
  <a class="logo" href="{{ site.siteconfiguration.lms_url_root }}">
    <img src="{{ 'images/logo.png'|fec_url }}">
  </a>
{% endblock %}
